
.dsmovie-pagination-container{
  padding: 15px 0;
  display: flex;
  justify-content: center;

}
.dsmovie-pagination-box{
display: flex;
width: 180px;
justify-content: space-between;
align-items: center;
}
.dsmovie-pagination-box p{
margin: 0;
font-size: 12px;
color: var(--color-primary);
}
.dsmovie-pagination-box button{
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dsmovie-pagination-box button img{
  filter: brightness(0) saturate(100%) invert(22%) sepia(29%) saturate(5247%) hue-rotate(235deg) brightness(101%) contrast(89%);
}

.dsmovie-pagination-box button:disabled{
  border: 1px solid var(--text-gray);
}
.dsmovie-pagination-box button:disabled img{
  filter: unset;
}

.dsmovie-flip-horizontal{
  transform: rotate(180deg);
}